<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <app-navbar></app-navbar>
            </div>
            <div class="col-md-6">
                <app-banner></app-banner>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="assets/img/culture-2.jpg" />
                        <a class="img-text" href="">
                            <p>Welcome and Enjoy your visit</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="assets/img/culture-8.jpg" />
                        <a class="img-text" href="">
                            <p>Welcome and Enjoy your visit</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
