<div class="review">
    <div class="container-fluid">
        <div class="row align-items-center review-slider normal-slider">
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="assets/img/culture-22.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Sihom</h2>
                        <h3>Customer</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                         This is a good site, i loved it but you can even do better
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="assets/img/culture-24.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Dawit</h2>
                        <h3>Customer</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                          Job well done. Personally i loved using your site and please just modify it a little bit. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <img src="assets/img/culture-23.jpg" alt="Image">
                    </div>
                    <div class="review-text">
                        <h2>Simona</h2>
                        <h3>Customer</h3>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>
                         Wow !!! this is the best site i have seen so far. Thank you
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
